GEOSAMPA_DADOS_ABERTOS_API_URL=https://dados.prefeitura.sp.gov.br/api/3/action
GEOSAMPA_WFS_BASE_URL=https://wfs.geosampa.prefeitura.sp.gov.br/geoserver/geoportal/ows
GEOSAMPA_WFS_CAPABILITIES_URL=https://wfs.geosampa.prefeitura.sp.gov.br/geoserver/ows
GEOSAMPA_CACHE_ENABLED=true
